body{
    height: auto;
}

.container-fluid{
    padding-top: 40px;
    padding-bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    height: 50px;
    width: 50px;
    background-color: #357ebd;
}
